[flake8]
max-line-length = 100
ignore = 
    E501,
    W503,
    F403,
    F405
exclude = 
    .git,
    __pycache__,
    .pytest_cache,
    .venv,
    venv,
    data/,
    .github/
per-file-ignores =
    pipelines/*.py:F403,F405,E402
    tests/test_dedupe.py:F401
    services/time_travel_manager.py:W293
